body, html{
    background-image: linear-gradient(to right, blue, lightgray, pink, green);
    color: purple;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;    
}

.nav{
    margin: 20px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(19, 78, 156);
    color:aliceblue;
    border: 1px solid navy;
    border-radius: 50px;
    box-shadow: 0 0 10px navy;
    
}

.nav:hover{    
    background-color:  rgba(78, 149, 241, 0.567);
    transform: scale(1.1);
    transition: all 0.2s ease;
    box-shadow: 0 0 10px blue;
}



main{
   margin-top: 30px;   
}


.contenido{
   flex: 1;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:  black;
}

.caja, img{
      width: 333px;  height: 333px;
      border-radius: 22px;
      border: 1px solid lightblue;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 22px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    background-color: #ff9a9e;
    padding: 44px;
    margin: 22px 111px;
    display: flex;
    gap:44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 22px;
}

.galeria{
    padding: 44px;
    background-color: rgba(255,255,255,0.1);
    margin: 22px 111px;
    border-radius: 22px;           
}

.img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item{
    font-size: 44px;       
    width: 188px;  height: 188px;
    border-radius: 22px;
    border: 1px solid greenyellow;
          
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 176, 122, 0.855);
}

.item:hover{
    transform: rotate(12deg) scale(1.03);
    transition: all 2s ease;
}

.redessociales{
    padding: 44px;
    margin: 22px 111px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 22px;
    
    display: flex;
    gap:44px;
    justify-content: center;
    align-items: center;
}

.pie{
    text-align: center;
    margin: 22px;
}


.proyectos{
    padding: 44px;
    margin: 22px 111px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 22px;
    
    display: flex;
    gap:65px;
    justify-content: center;
    align-items: center;
}


.project-card{    
    color:tomato;

     width: 266px;  height: 266px;
     padding: 22px;
      border-radius: 22px;
      border: 1px solid orange;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 22px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.texto{
    color:white;
}


.project-card:hover{   
   background-color: lightseagreen;
   transform: rotate(-360deg);
   transition: all 3s ease;
   border: 1px solid green  ;
}